
/* From http://bootsnipp.com/snippets/featured/carousel-product-cart-slider
 * for initial inspiration, though everything had been modified now, not much
 * original code left.
 */

/* Override Bootstrap overflow rules for carousel so that
   we can use the "editable" plugin. at the cost of a bit of uglyness
   when we scroll - I could fix bootstrap's style sheet though...
 */
.carousel-inner {
    overflow: visible;
}

.frequency-carousel .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.frequency-carousel .panel-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.frequency-carousel .panel-footer .btn-left {
    width: 65%;
    float: left;
    text-align: left;
}

.frequency-carousel .panel-footer .btn-trash {
    width: 20%;
    float: left;
    text-align: left;
}

.frequency-carousel .panel-footer .btn-edit {
    width: 15%;
    float: left;
    text-align: right;
}

.frequency-carousel .panel-heading .btn-vfoa {
    width: 60%;
    float: left;
}
.frequency-carousel .panel-heading .btn-vfob {
    width: 40%;
    text-align: right;
    float: left;
}

.frequency-carousel .panel-footer p
{
    line-height: 20px;
    margin-bottom: 0;
    text-align: left;
}

.frequency-carousel .panel {
        overflow-x: hidden;
}

.frequency-carousel .panel:hover {
    background-color: rgba(33, 159, 209, 0.49);
}

.clear-left
{
    clear: left;
}