<!-- Details view of a layout -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <legend>Instrument Details</legend>
        </div>
    </div>
    <form class="form-horizontal">        
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Name:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" value="<%= name %>"/>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Type:</label>
                        <div class="col-md-9">
                            <select name="type" class="form-control">
                                <% for(var ins in instypes) { %>
                                <option
                                <%= type == ins ?'selected':'' %>
                                value="<%= ins %>"><%= instypes[ins].name %></option>
                                <% } %>                                
                            </select>
                            <span class="help-inline"></span>
                        </div>
                </div>
                <div class="form-group">
                    <label for="port" class="col-md-3 control-label">Port:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="port" name="port" value="<%= port %>"/>
                    </div>
                    <div class="col-md-5">
                            <select id="otherports" name="otherports" class="form-control">
                                <option>New port...</option>
                                <% for(var i=0; i < ports.length; i++) { %>
                                <option
                                    <%= port == ports[i] ? 'selected':'' %>
                                    value="<%= ports[i] %>"><%= ports[i] %></option>
                                <% } %>
                            </select>
                    </div>
                </div>      
                <div class="form-group">
                    <label for="liveviewspan" class="col-md-3 control-label">Live view length:</label>
                    <div class="col-md-9 input-group">
                        <input type="text" class="form-control" name="liveviewspan" value="<%= liveviewspan %>">
                        <span class="input-group-addon">seconds</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="liveviewperiod" class="col-md-3 control-label">Polling period:</label>
                    <div class="col-md-9 input-group">
                        <span class="input-group-addon">Poll Every</span>
                        <input type="text" class="form-control" name="liveviewperiod" value="<%= liveviewperiod %>">
                        <span class="input-group-addon">seconds</span>
                    </div>
                </div>
                <div class="form-group">
                    
                    <div class="col-md-12">
                        <h4>Instrument information</h4>
                    <p>Unique ID: <span id="uniqueid"><%= uuid %></span></p>
                        </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="control-group">
                    <label for="description" class="control-label">Notes:</label>
                    <div class="controls">
                            <textarea id="comment" class="form-control" name="comment" style="width: 90%;" rows="6"><%= comment %></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="metadata" class="control-label">Extra settings:</label>
                    <div class="controls">
                            <div id="metadata">This device types does not require extra settings.</div>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well hidden-xs" style="text-align: center;margin: 0px auto;">
                        <p><img id="icon" width="180" src="<%= icon === '' ? 'pics/instruments/generic.png' : 'pics/instruments/' + icon %>"/></p>
                        <p style="color:#999;">To change the icon, drag a new picture from your computer onto the box above.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="form-actions">
            <button type="button" class="btn btn-primary save">Save</button>
            <button type="button" class="btn btn-default delete">Delete</button>
        </div>

    </form>

<div class="row">
    <div class="col-md-12">
        <br />
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Instrument saved successfully
        </div>
    </div>
</div>
                            
</div>

    <!-- Instrument delete modal -->
<div class="container">
    <div id="deleteConfirm" class="modal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Confirm delete</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Instrument? This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                <button class="btn btn-primary" id="do-delete">Yes, delete it</button>
            </div>
        </div></div>
    </div>
</div>
