<div class="col-md-9">
    <div class="row" id="id1">
      <div class="col-md-6">
            <a role="button" <%= (selected.length) ? '':'disabled'%> title="Select one or more logs below and click here" class="btn btn-info displaylog">
                Display Log</a>
            <a href="#devicelogs/<%=instrumentid%>" role="button" class="btn btn-info devicelogs" 
               title="Enabled if you are connected and your device supports it">Manage device Logs</a>

      </div>
      <div class="col-md-6">
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
        <div id="tablewrapper" style="overflow-y: scroll;">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Name</th>
                        <th>Data points</th>
                        <th>Log type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <% var selectedType = "";
                   _.each(deviceLogs,function(log) {
                        /* Make sure we can only select identical log types */
                        if (selected.indexOf(log._id) > -1 || selected.length==0) selectedType = log.logtype;
                %>
                    <tr>
                        <td><input class="logcheckbox" type="checkbox" <%= selected.indexOf(log._id) > -1  ? 'checked':''%>
                            <%= (log.logtype != selectedType && selectedType != "") ? 'disabled':'' %>
                            value="<%=log._id%>" ></td>
                        <td><%= new Date(log.startstamp).toUTCString() %></td>
                        <td><%= new Date(log.endstamp).toUTCString() %></td>
                        <td><%= log.name %></td>
                        <td><%= log.datapoints %></td>
                        <td><%= log.logtype %></td>
                            <td><i class="glyphicon glyphicon-remove delete_log" data-id="<%=log._id%>" title="Delete"></i></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
  </div>
    
</div><!--/col-md-9 --->

<div class="col-md-3">
    <div class="row">
        <div class="col-md-12">
             <div class="thumbnail">
            <h6>Overview (not available yet)</h6>
            <div id="overview" class="chart" style="position: relative; height:150px;cursor:crosshair;"></div>
            </div>
    </div>
    </div><br>
    <div class="row">
        <h4><span id="logtitle">Log title</span></h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <p>Data points: <span id="log_size">0</span></p>
                <p>Log start:<br><small><span id="log_start">0</span></small></p>
                <p>Log end:<br><small><span id="log_end">0</span></small></p>
                    <!-- <p>User cal: <span id="usercal">0</span></p> -->
            </div>
        </div>
    </div><br>
  <div class="row">
      <div class="col-md-12">
          <div class="well" id="help-area">
            <!--<img src="img/safecast_unboxed.png" width="60" style="float:right;">-->
            <h3>Log Management</h3>
              <p>
                  The table on the left lists all logs stored in our database. Use "Manage Device Logs" if supported by your device, to download new device logs.
              </p>
              <p>Note that "Manage Device Logs" will be disabled if your device is not connected.</p>
          </div><!--/.well -->
      </div>
   </div><!--/row-->

</div><!--/col-md-3-->
    
    
    <!-- Log delete modal -->
<div class="container">
<div id="deleteConfirm" class="modal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"><div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm delete</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to delete this log? This cannot be undone.</p>
</div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <button class="btn btn-primary" id="do-delete">Yes, delete it</button>
  </div>
</div>
      </div></div></div>
      
      

