<!-- Details view of a layout (we are embedded in a row) -->
<div class="col-md-12">

<div class="row">
    <div class="col-md-12">
        <legend>Output Details</legend>
    </div>
</div>

    
<div class="row">
    <div class="col-md-8">
<form class="form-inline" role="form">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="type" class="col-md-3 control-label">Type:</label>
                    <div class="col-md-9">
                            <select name="type" class="form-control">
                                <% for(var ins in outtypes) { %>
                                <option
                                <%= type == ins ?'selected':'' %>
                                value="<%= ins %>"><%= outtypes[ins].name %></option>
                                <% } %>                                
                            </select>
                            <span class="help-block">Select the output plugin</span>
                        </div>
            </div>
            <div class="form-group col-md-8">
                <label for="name" class="col-md-2 control-label">Name:</label>
                <div class="col-md-10">
                    <input type="text" name="name" value="<%= name %>"/>
                    <span class="help-block">Choose a friendly name for this output</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="description" class="col-md-2 control-label">Notes:</label>
                <div class="col-md-10">
                        <textarea id="comment" name="comment" style="width: 90%;" rows="3"><%= comment %></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <legend>Data to send</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <p>Below are data fields that we are detecting from the instrument. Connect these fields to those needed by the output plugin.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 fieldselect">
                <p><em>The instrument does not seem to be sending anything right now...</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <legend>When to send it</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Select send conditions: alarm (above/under), regular (frequency), threshold (percent change). All conditions can be enabled at once.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="type" class="col-md-6 control-label">Alarm:</label>
                <div class="col-md-6">
                        <select name="type" class="form-control">
                            <option>(Inactive)</option>                       
                        </select>
                    </div>
            </div>
            <div class="form-group col-md-3">
                <select name="type" class="form-control">
                    <option>Is more than or equal to</option>                       
                    <option>Is less than</option>
                    <option>Is equal to</option>                       
                </select>
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="name" value=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="form-group col-md-1">
                <select name="type" class="form-control">
                    <option>And</option>
                    <option>Or</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                            <select name="type" class="form-control">
                                <option>(Inactive)</option>                       
                            </select>
            </div>
            <div class="form-group col-md-3">
                <select name="type" class="form-control">
                    <option>Is more than or equal to</option>                       
                    <option>Is less than</option>
                    <option>Is equal to</option>                       
                </select>
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="name" value=""/>
            </div>
        </div>
            
            <br/>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="type" class="col-md-6 control-label">Regular output every:</label>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" name="name" value=""/>
                    <span class="input-group-addon">seconds</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="type" class="col-md-6 control-label">... or if it changes more than:</label>
                <div class="input-group col-md-6">
                    <input type="text" class="form-control" name="name" value=""/>
                    <span class="input-group-addon">percent</span>
                </div>
            </div>

        </div>
            
        <div class="row">
            <div class="col-md-12">
                <legend>Output Settings</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="metadata">This device types does not require extra settings.</div>
            </div>
        </div>
</form>
    </div>
                

    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="well hidden-xs" style="text-align: center;margin: 0px auto;">
                <p><img id="icon" width="100" src="js/app/outputs/<%=type%>/logo.png"/></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <legend>Data mapping summary</legend>
                    <p>Below are the data fields required by the plugin and how they are currently configured</p>
                <div id="mappings"></div>                
            </div>
        </div>

    <div class="row">
    <div class="col-md-12">
        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Save</a>
            <a href="#" class="btn btn-default delete">Delete</a>
        </div>
    </div>
        </div>
        
        <div class="row status-bar">
    <div class="col-md-12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Instrument saved successfully
        </div>
    </div>
</div>
                
                
                
    </div>
</div>
    