<?xml version="1.0" encoding="UTF-8" ?>
<widget id="io.wizkers.wizkersapp" version="a0.10.7" xmlns="http://www.w3.org/ns/widgets" xmlns:gap= "http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Wizkers</name>
    <description>
        A utility to interface with measurement devices and more.
    </description>
    <author email="ed@wizkers.io" href="http://wizkers.io">
        Edouard Lafargue
    </author>
    <icon src="icon.png" />
    <content src="cordova.html" />
    <access origin="*" />
    <gap:plugin name="fr.drangies.cordova.serial" version="0.0.2" />
    <gap:plugin name="cordova-plugin-whitelist" version="1.0.0" source="npm" />
    <gap:plugin name="cordova-plugin-bluetoothle" source="npm" />
    <gap:plugin name="cordova-plugin-file" source="npm" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" />
    <gap:plugin name="cordova-plugin-google-analytics" source="npm" />
    <gap:plugin name="de.appplant.cordova.plugin.background-mode" source="npm" />
    <gap:plugin name="com.mediamatrixdoo.keepscreenon" source="npm" />
</widget>