<label for="port" class="col-md-3 control-label">Serial Port:</label>
<div class="col-md-4">
    <input type="text" class="form-control" id="port" name="port" value="<%= port %>"/>
</div>
<div class="col-md-4">
        <select id="otherports" name="otherports" class="form-control">
            <% for(var i=0; i < ports.length; i++) { %>
            <option
                <%= port == ports[i] ? 'selected':'' %>
                value="<%= ports[i] %>"><%= ports[i] %></option>
            <% } %>
        </select>
</div>
            <div class="col-md-1">
    <button class="btn btn-default" type="button" id="refresh"><span class="glyphicon glyphicon-refresh"></span></button>
</div>                
