<div class="row">
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="type" class="col-xs-6 control-label">Safecast API key:</label>
                <div class="input-group col-xs-6">
                    <input type="text" class="form-control" name="apikey" value="<%= metadata['apikey'] %>"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
    <label for="type" class="col-xs-6 control-label">Use safecast instance:</label>
    <div class="input-group col-xs-6">
        <select name="instance" class="form-control">
            <option value="dev" <%= metadata['instance'] == 'dev' ?'selected':'' %>>Development</option>
            <option value="production" <%= metadata['instance'] == 'production' ?'selected':'' %>>API</option>
            <option value="ttserve" <%= metadata['instance'] == 'ttserve' ?'selected':'' %>>Pointcast</option>
        </select>
    </div>
    </div>
</div>



