/**
 *  My own application styles
 *
 * E. Lafargue 2014
 **/

/**
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}
*/



a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.input-margin {
    margin-bottom: 5px;
}


.thumbnail-larger {
    min-width: 260px;
    min-height: 260px;
}


.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

/**
 * TODO: see below, we need two different kinds of
 * glowing / non-glowing thumbnails
 */

/* I want to make thumbnails glow even if they are
   just DIVs, not A's
 */
.glowthumbnail:hover,
.glowthumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/**
 * A horizontal and mid-height -aligned section
 */
.horizontal div {
    display: inline-block;
    vertical-align: middle;
}

/**
 * Center the content of a div
 */
.center {
    text-align: center;
}

/**
 * Responsive buttons: make buttons smaller on narrow screens
 */
.btn-responsive {
      margin-bottom: 4px;
}
  
/* Similar to btn-sm, but adjusted to 7" tablets */
@media (min-width: 600px) and (max-width: 992px) {
    .btn-responsive {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
}


/* Same as btn-xs */
@media (max-width: 599px) {
    .btn-responsive {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
}

/**
 * Flot charts styling
 */

.chart {
    min-width: 100%;
   /* min-height: 200px; */
}

/**
 * Terminal plugin: enable text selection
 */
#terminal {
    -webkit-user-select: text
}


@media only screen and ( max-width : 1000px ) {
    .home-hero {
        padding:100px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:32px;
    }
}


.home-hero .btn {
    font-family: "arvo";
    width: 160px;
    margin: 10px 4px;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}


.bigreading {
    font-size: 5em;
    line-height: 1em;
/*    font-weight: bold; */
}

.smallreading {
    font-size: 24px;
    /* font-weight: bold;
    float: right; */
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Glow effect when we drag an image on a target */
.hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0,136,204,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(0,136,204,0.8);
  box-shadow: 0px 0px 20px rgba(0,136,204,0.8);
}
    
    
    
/**
 * My battery icon (original work by E. Lafargue.
 * 
 */

.battery {
        min-width:  30px;
        min-height: 13px;
        max-width: 150px;
        max-height: 66px;
        background-size: cover;
        background-repeat: no-repeat;    
}

.battery25-100 {
        background-image: url(../img/battery25-full.png);
}

.battery-100 {
        background-image: url(../img/battery-full.png);
}

.battery-80 {
        background-image: url(../img/battery-80.png);
}

.battery-75 {
        background-image: url(../img/battery25-75.png);
}

.battery-60 {
        background-image: url(../img/battery-60.png);
}

.battery-50 {
        background-image: url(../img/battery25-50.png);
}

.battery-40 {
        background-image: url(../img/battery-40.png);
}

.battery-25 {
        background-image: url(../img/battery25-25.png);
}

.battery-20 {
        background-image: url(../img/battery-20.png);
}

.battery-0 {
        background-image: url(../img/battery-empty.png);
}

.small-list li {
    font-size: smaller;
}

.keyboard {
    margin: 4px;
}

.keyboard-area div {
    text-align: center;
}

/*===========
 * KX3 Font
 *===================*/
@font-face {
  font-family: "Let's Go Digital";
  src: url('../fonts/lets-go-digital-regular.ttf') format('truetype');
    
}


/* From: http://www.verious.com/tutorial/how-to-create-loading-spinners-using-css3-animations/ */
/* ==========================================================
 * Spinner
 * =========================================================*/
.spinner{
     width:100px;
     height:100px;
     margin:30px auto;
     position:relative;
     -webkit-animation: rotateit 1.3s linear infinite;
     -moz-animation: rotateit 1.3s linear infinite;
     animation: rotateit 1.3s linear infinite;
}
@-webkit-keyframes rotateit {
     from {
          -webkit-transform: rotate(360deg);
     }
     to {
          -webkit-transform: rotate(0deg);
     }
}
@-moz-keyframes rotateit {
     from {
          -moz-transform: rotate(360deg);
     }
     to {
          -moz-transform: rotate(0deg);
     }
}
@keyframes rotateit {
     from {
          transform: rotate(360deg);
     }
     to {
          transform: rotate(0deg);
     }
}

/*=======================================================
 * Circles
 *======================================================*/
.spinner.circles div{
     width: 20px;
     height: 20px;
     border-radius:50%;
     background: black;
     position: absolute;
     top: 35px;
     left: 45px;
}
.spinner.circles div:nth-child(1){
     -webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);
     -moz-transform: rotate(0deg) translate(0, -35px) scale(1.4);
     transform: rotate(0deg) translate(0, -35px) scale(1.4);
}
.spinner.circles div:nth-child(2){
     -webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);
     -moz-transform: rotate(45deg) translate(0, -35px) scale(1.2);
     transform: rotate(45deg) translate(0, -35px) scale(1.2);
     opacity:0.7;
}
.spinner.circles div:nth-child(3){
     -webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);
     -moz-transform: rotate(90deg) translate(0, -35px) scale(1.1);
     transform: rotate(90deg) translate(0, -35px) scale(1.1);
     opacity:0.6;
}
.spinner.circles div:nth-child(4){
     -webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);
     -moz-transform: rotate(135deg) translate(0, -35px) scale(0.9);
     transform: rotate(135deg) translate(0, -35px) scale(0.9);
     opacity:0.5;
}
.spinner.circles div:nth-child(5){
     -webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);
     -moz-transform: rotate(180deg) translate(0, -35px) scale(0.7);
     transform: rotate(180deg) translate(0, -35px) scale(0.7);
     opacity:0.4;
}
.spinner.circles div:nth-child(6){
     -webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);
     -moz-transform: rotate(225deg) translate(0, -35px) scale(0.5);
     transform: rotate(225deg) translate(0, -35px) scale(0.5);
     opacity:0.3;
}
.spinner.circles div:nth-child(7){
     -webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);
     -moz-transform: rotate(270deg) translate(0, -35px) scale(0.3);
     transform: rotate(270deg) translate(0, -35px) scale(0.3);
     opacity:0.2;
}
.spinner.circles div:nth-child(8){
     -webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);
     -moz-transform: rotate(315deg) translate(0, -35px) scale(0.1);
     transform: rotate(315deg) translate(0, -35px) scale(0.1);
     opacity:0.1;
}
