<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clear-left">
            <p class="btn-vfoa">
                <b><span class="freq-vfoa" data-disabled="true" data-type="text"><%= vfoa %></span></b>
            </p>
            <p class="btn-vfob">
                <small><%= vfob %></small>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <span class="freq-description" data-disabled="true" data-type="textarea" ><%= name %></span>
    </div>
    <div class="panel-footer">
        <div class="clear-left">
            <p class="btn-left">
                <span class="label label-info"><%= mode %></span>
            </p>
            <p class="btn-edit edit">
                <span class="glyphicon glyphicon-edit"></span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
