<div class="row">
    <div class="form-group col-md-6">
        <label for="type" class="col-md-6 control-label">Number of fields:</label>
        <div class="input-group col-md-6">
            <input type="number" step="1" min="1" class="form-control" name="numfields" value="<%= metadata['numfields'] %>"/>
        </div>
    </div>
    <div class="col-md-6">
    <p>Select how many data fields should be sent with each call. Press "Save" after updating this value.</p>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="type" class="col-md-6 control-label">Server URL:</label>
        <div class="input-group col-md-6">
            <input type="text" class="form-control" name="resturl" value="<%= metadata['resturl'] %>"/>
        </div>
    </div>
    <div class="col-md-6">
    <p>If you need to insert field values in the url, use tags formatted like this: "&lt;%=field1%&gt;"</p>
        <p>Example:<br> http://127.0.0.1/temp/&lt;%=field1%&gt;/pressure/&lt;%=field2%&gt;</p>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="type" class="col-md-6 control-label">Do a GET or POST:</label>
        <div class="input-group col-md-6">
            <select name="httprequest" class="form-control">
                <option value="post" <%= metadata['httprequest'] == 'post' ?'selected':'' %>>POST</option>
                <option value="get" <%= metadata['httprequest'] == 'get' ?'selected':'' %>>GET</option>
            </select>
        </div>
    </div>
</div>



