<div class="row">
    <div class="form-group col-md-6">
    <label for="type" class="col-md-6 control-label">Connection method:</label>
    <div class="input-group col-md-6">
        <select name="instance" class="form-control">
            <option value="peerjs" <%= metadata['instance'] == 'peerjs' ?'selected':'' %>>PeerJS CDN</option>
            <option value="custom" <%= metadata['instance'] == 'custom' ?'selected':'' %>>Self-hosted</option>
        </select>
    </div>
    </div>
    <div class="form-group col-md-6">
        <label for="type" class="col-md-6 control-label">PeerJS API key:</label>
        <div class="input-group col-md-6">
            <input type="text" class="form-control" name="apikey" value="<%= metadata['apikey'] %>"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label for="name" class="col-md-5 control-label">Local audio to send to remote:</label>
        <div class="col-md-7">
            <select id="audio_input" name="audio_input" class="form-control">
                <option value="disable">Disable audio input</option>
                <% for(var i=0; i < inputs.length; i++) { %>
                <option
                    <%= metadata['audio_input'] == inputs[i].value ? 'selected':'' %>
                    value="<%= inputs[i].value %>"><%= inputs[i].label %></option>
                <% } %>
            </select>
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-5 control-label">Output incoming remote audio to:</label>
        <div class="col-md-7">
            <select id="audio_output" name="audio_output" class="form-control">
                <option value="disable">Disable audio output</option>
                <% for(var i=0; i < outputs.length; i++) { %>
                <option
                    <%= metadata['audio_output'] == outputs[i].value ? 'selected':'' %>
                    value="<%= outputs[i].value %>"><%= outputs[i].label %></option>
                <% } %>
            </select>
            <span class="help-inline"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>For self-hosted only:</h4>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="type" class="col-md-6 control-label">Server IP:port :</label>
            <div class="input-group col-md-6">
                <input type="text" step="1" min="1" class="form-control" name="ipaddress" value="<%= metadata['ipaddress'] %>"/>
            </div>
    </div>
</div>