<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Authentication</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
    <script src="js/lib/boostrap.min.js"></script>
</head>
<body>
    
<div class="header"><div><header class="navbar navbar-inverse navbar-fixed-top vizapp-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#vizapp-nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Viz App</a>
        </div>        
        <nav class="collapse navbar-collapse" id="vizapp-nav-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="about-menu"><a href="#about">About</a></li>      
            </ul>
        </nav><!--/.nav-collapse -->

    </div>
</header></div></div>
    
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span>Welcome to Viz App</h1>
    
    <div class="alert alert-info">
        Access to this Viz App instance is protected.
    </div>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Username or Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Request access</a></p>

</div>

</div>
</body>
</html>