<!doctype html>
<html>
<head>
	<title>User Management</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="css/styles.css">
	<style>
		body { padding-top:80px; }
	</style>
    
    <script src="js/lib/jquery-1.11.0.min.js"></script>
    <script src="js/lib/validator.min.js"></script>
    
</head>
<body>

<div class="header">
    <div><header class="navbar navbar-inverse navbar-fixed-top vizapp-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#vizapp-nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Viz App</a>
            </div>        
            <nav class="collapse navbar-collapse" id="vizapp-nav-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="about-menu"><a href="/#about">About</a></li>      
                </ul>
            </nav><!--/.nav-collapse -->

        </div>
    </header></div>
</div>
    
<div class="container">
    <div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Your Profile</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <% if (message.length > 0) { %>
            <br><br><div class="alert alert-warning"><%= message %></div>
	   <% } %>

	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span>User information:</h3>

					<p>
						<strong>Email</strong>: <%= user.local.email %><br>
                        <strong>Role</strong>: <%= user.role %><br>
					</p>

			</div>
		</div>

        <div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span>Change password</h3>
                
                <form data-toggle="validator" role="form" action="/profile" method="post">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="password" data-toggle="validator" data-minlength="6" class="form-control" id="newPassword" name="password"  placeholder="New password" required>
                            <span class="help-block">6 characters minimum</span>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="password" data-match="#newPassword" data-match-error="Passwords don't match" class="form-control" id="newPassword2" placeholder="Confirm" required>
                             <div class="help-block with-errors"></div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </div>
                    </div>
                </form>
                



			</div>
		</div>

	</div>
    
    <% if (user.role === 'admin') { %>
    <div class="row">  
        <div class="col-sm-4">
			<div class="well">
                <a href="/admin" class="btn btn-default btn-sm">Server Administration</a>
			</div>
		</div>
        
        <div class="col-sm-4">
			<div class="well">
                <p>Backup all settings and data in a backup file (.tbz): <a href="/backup" role="button" class="do-backup btn btn-default">Backup</a>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p>Drop a backup file on the box below to restore your settings:</p>
                <div style="width:120px; height:107px; position:relative;margin: 0px auto;">
                        <div style="position:absolute; bottom:0;"><img id="restore-area" width="120" src="img/package-open.png"/></div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    
    
    <div class="row status-bar">
    <div class="col-md-12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> generic message.
        </div>
    </div>
</div>
    
</div>
    
<script>
    
        var uploadFile = function(path, file, callbackSuccess) {
            var self = this;
            var data = new FormData();
            data.append('file', file);
            $.ajax({
                url: path,
                type: 'POST',
                data: data,
                processData: false,
                cache: false,
                contentType: false
            })
            .done(function (val) {
                console.log(file.name + " uploaded successfully");
                callbackSuccess(val);
            })
            .fail(function () {
                showAlert('Error!', 'An error occurred while uploading ' + file.name, 'alert-error');
            });
        };
    
        var showAlert = function(title, text, klass) {
            $('.alert').removeClass("alert-error alert-warning alert-success alert-info");
            $('.alert').addClass(klass);
            $('.alert').html('<strong>' + title + '</strong> ' + text);
            $('.alert').show();
        };

    
    window.onload = function() {
        
        $("#restore-area").on('dragover', function(event) {
            $("#restore-area").addClass("hover");
            event.preventDefault();
            event.stopPropagation();
        });
    
        $("#restore-area").on('dragleave', function(event) {
            $("#restore-area").removeClass("hover");
            return false;
        });

        
        $("#restore-area").on('drop', function (event) {
            event.stopPropagation();
            event.preventDefault();
            $("#restore-area").removeClass("hover");
            console.log('File dropped');
            showAlert('Hang on...', 'Restoring your settings, don\'t go away.', 'alert-warning');
            var e = event.originalEvent;
            e.dataTransfer.dropEffect = 'copy';
            var pictureFile = e.dataTransfer.files[0];

            // Read the image file from the local file system and display it in the img tag
            $('#restore-area').attr('src', 'img/package-open-star.png');
            uploadFile("/restore", pictureFile,
                function (value) {
                        console.log('Return value: ' + value);
                        $('#restore-area').attr('src', 'img/package-open.png');
                        if (value === "Invalid") {
                            showAlert('Error', 'This backup file is invalid', 'alert-error');
                        } else {
                            showAlert('Success!', 'Backup restored successfully', 'alert-success');
                        }
                    }
                );
        });
    };

    
    </script>

    
</body>
</html>