.brand {
    font-family: 'Arvo';
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

h5 {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 4px;
}


.thumbnail-larger {
    min-width: 260px;
    min-height: 260px;
}


.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

/**
 * TODO: see below, we need two different kinds of
 * glowing / non-glowing thumbnails
 */

/* I want to make thumbnails glow even if they are
   just DIVs, not A's
 */
.glowthumbnail:hover,
.glowthumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/**
 * A horizontal and mid-height -aligned section
 */
.horizontal div {
    display: inline-block;
    vertical-align: middle;
}

/**
 * The little accessory items on the layout view
 */
.accessoryitem {
    padding: 1px;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    top:10px;
    left: 10px;
    text-align: center;
    background:#ffffff;
    opacity: 0.6;
    z-index:10;
}

/* On smaller screens, just display the accessories
    as a grid under the layout and discard location */
@media only screen and ( max-width : 1250px ) {
    .accessoryitem {
        -webkit-user-drag: none;
        position: relative;
        left: 10px !important;
        top: 20px !important;
        float: left;
        max-height: 80px;
        max-width: 80px;
        margin-bottom: 20px;
        opacity: 1.0;
    }
}

.accessoryitem:hover {
    opacity: 1.0;
}

.accessorydiagitem {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    max-width: 80px;
    max-height: 80px;
    top:10px;
    left: 10px;
    float: left;
    text-align: center;
    background:#ffffff;
    z-index:10;
}




/**
 * Power controller styling
 */
.power {
    border-width: 1px;  
    border-style: solid;  
    border-color: #333 #333 #777 #333;  
    min-width: 40px;
    background-image: -moz-linear-gradient(left, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(left, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(left, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to right, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),   
                 0 1px 0 0px rgba(250, 250, 250, .5);
    cursor: pointer;
}

.power[disabled="disabled"] {
    background-color:#eeeeee;
    background-image: none;
    box-shadow: none;
    border-color: #cccccc;
    cursor: default;
}

/**
 * Flot charts styling
 */

.chart {
    min-width: 100%;
    height: 200px;
}




@media only screen and ( max-width : 1000px ) {
    .home-hero {
        padding:100px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:32px;
    }
}


.home-hero .btn {
    font-family: "arvo";
    width: 160px;
    margin: 10px 4px;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}


.bigreading {
    font-size: 48px;
    font-weight: bold;
}

.smallreading {
    font-size: 24px;
    font-weight: bold;
    float: right;

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Glow effect when we drag an image on a target */
.hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0,136,204,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(0,136,204,0.8);
  box-shadow: 0px 0px 20px rgba(0,136,204,0.8);
}

/* From: http://www.verious.com/tutorial/how-to-create-loading-spinners-using-css3-animations/ */
/* ==========================================================
 * Spinner
 * =========================================================*/
.spinner{
     width:100px;
     height:100px;
     margin:30px auto;
     position:relative;
     -webkit-animation: rotateit 1.3s linear infinite;
     -moz-animation: rotateit 1.3s linear infinite;
     animation: rotateit 1.3s linear infinite;
}
@-webkit-keyframes rotateit {
     from {
          -webkit-transform: rotate(360deg);
     }
     to {
          -webkit-transform: rotate(0deg);
     }
}
@-moz-keyframes rotateit {
     from {
          -moz-transform: rotate(360deg);
     }
     to {
          -moz-transform: rotate(0deg);
     }
}
@keyframes rotateit {
     from {
          transform: rotate(360deg);
     }
     to {
          transform: rotate(0deg);
     }
}
/*=======================================================
 * Circles
 *======================================================*/
.spinner.circles div{
     width: 20px;
     height: 20px;
     border-radius:50%;
     background: black;
     position: absolute;
     top: 35px;
     left: 45px;
}
.spinner.circles div:nth-child(1){
     -webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);
     -moz-transform: rotate(0deg) translate(0, -35px) scale(1.4);
     transform: rotate(0deg) translate(0, -35px) scale(1.4);
}
.spinner.circles div:nth-child(2){
     -webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);
     -moz-transform: rotate(45deg) translate(0, -35px) scale(1.2);
     transform: rotate(45deg) translate(0, -35px) scale(1.2);
     opacity:0.7;
}
.spinner.circles div:nth-child(3){
     -webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);
     -moz-transform: rotate(90deg) translate(0, -35px) scale(1.1);
     transform: rotate(90deg) translate(0, -35px) scale(1.1);
     opacity:0.6;
}
.spinner.circles div:nth-child(4){
     -webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);
     -moz-transform: rotate(135deg) translate(0, -35px) scale(0.9);
     transform: rotate(135deg) translate(0, -35px) scale(0.9);
     opacity:0.5;
}
.spinner.circles div:nth-child(5){
     -webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);
     -moz-transform: rotate(180deg) translate(0, -35px) scale(0.7);
     transform: rotate(180deg) translate(0, -35px) scale(0.7);
     opacity:0.4;
}
.spinner.circles div:nth-child(6){
     -webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);
     -moz-transform: rotate(225deg) translate(0, -35px) scale(0.5);
     transform: rotate(225deg) translate(0, -35px) scale(0.5);
     opacity:0.3;
}
.spinner.circles div:nth-child(7){
     -webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);
     -moz-transform: rotate(270deg) translate(0, -35px) scale(0.3);
     transform: rotate(270deg) translate(0, -35px) scale(0.3);
     opacity:0.2;
}
.spinner.circles div:nth-child(8){
     -webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);
     -moz-transform: rotate(315deg) translate(0, -35px) scale(0.1);
     transform: rotate(315deg) translate(0, -35px) scale(0.1);
     opacity:0.1;
}
