/* Styles for the smart card reader tree */

.readertree {
    font-size: 12px;
}

.readertree li {
    padding: 4px;
}

.readertree .list-group-item {
	cursor: pointer;
}

.readertree span.indent {
	margin-left: 10px;
	margin-right: 10px;
}

.readertree span.icon {
	width: 12px;
	margin-right: 5px;
}

.readertree .node-disabled {
	color: silver;
	cursor: not-allowed;
}