<!-- Details view of a layout -->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <legend>Instrument Details</legend>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" value="<%= name %>" />
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Type</label>
                    <div class="col-md-9">
                        <select name="type" class="form-control">
                            <% for(var ins in instypes) { %>
                                <option <%= type == ins ? 'selected': '' %>
                                    value="<%= ins %>">
                                        <%= instypes[ins].name %>
                                </option>
                                <% } %>
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <div class="form-group" id="portsettings">
                    <!-- Start Connection DIV -->
                    <!-- End Connection DIV -->
                </div>
                <div class="form-group">
                    <label for="liveviewspan" class="col-md-3 control-label">Live view length</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="liveviewspan" value="<%= liveviewspan %>">
                            <span class="input-group-addon">seconds</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="liveviewperiod" class="col-md-3 control-label">Polling period</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-addon">Poll Every</span>
                            <input type="text" class="form-control" name="liveviewperiod" value="<%= liveviewperiod %>">
                            <span class="input-group-addon">seconds</span>
                        </div>
                    </div>
                </div>
                <div class="hide-chrome hide-cordova">
                    <div class="form-group">
                        <label for="autoconnect" class="col-md-3 control-label">&nbsp;</label>
                        <div class="col-md-9 input-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="autoconnect" <%=( autoconnect) ? 'checked' : '' %>> Autoconnect
                                    <br>
                                    <input type="checkbox" name="autorecord" <%=( autorecord) ? 'checked' : '' %>> Autorecord
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="control-group">
                            <label for="description" class="control-label">Notes</label>
                            <div class="controls">
                                <textarea id="comment" class="form-control" name="comment" style="width: 90%;" rows="3">
<%= comment %>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="control-group">
                            <label for="metadata" class="control-label">Extra settings</label>
                            <div class="controls">
                                <div id="metadata">This device types does not require extra settings.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well hidden-xs" style="text-align: center;margin: 0px auto;">
                            <p><img id="icon" width="180" src="<%= icon === '' ? 'js/app/instruments/' + type + '/icon.png' : 'pics/instruments/' + icon %>" /></p>
                            <% if (vizapp.type == "server") { %>
                                <!--<p style="color:#999;">To change the icon, drag a new picture from your computer onto the box above.</p>-->
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="well hide-cordova">
                            <p>Drop a backup file on the box below to import instrument settings from a backup:</p>
                            <div style="width:120px; height:107px; position:relative;margin: 0px auto;">
                                <div style="position:absolute; bottom:0;"><img id="restore-area" width="120" src="img/package-open.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- create an empty space div to provide space to the footer so that it never blocks content on small screens -->
                    <div style="min-height: 5em;"></div>
                </div>
            </div>
        </div>

        <div class="row footer" style="margin-bottom: 10px;">
            <div class="form-actions col-xs-8">
                <button type="button" class="btn btn-primary save">Save</button>
                <button type="button" class="btn btn-default delete">Delete</button>
                <button type="button" class="btn btn-default selectins" disabled>Select</button>
                <button type="button" class="btn btn-default export hide-cordova">Export Settings</button>
            </div>
            <div class="col-md-3 col-xs-4">
                <div class="alert alert-success" style="display: none">
                    <b>Success!</b> Instrument saved successfully
                </div>
            </div>
        </div>
    </form>

</div>

<!-- Instrument delete modal -->
<div class="container">
    <div id="deleteConfirm" class="modal" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Confirm delete</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this Instrument? This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn btn-primary" id="do-delete">Yes, delete it</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experimental modal for native Blueooth LE support on navigator -->
<div class="container">
    <div id ="BTModal" class="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myErrorLabel" class="modal-title">Bluetooth access</h3>
                </div>
                <div class="modal-body">
                    <div class="horizontal">
                        <b>Access bluetooth, OK?</b>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" id="btscan" aria-hidden="true">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
