<div class="panel panel-default">
    <div class="panel-heading">
                <h6><%= name %></h6>
    </div>
    <div class="panel-body select" style="text-align: center;" >
        <img id="icon" width="100" src="js/app/outputs/<%=type%>/logo.png"/>
        <p><%= comment %></p>
        <a class="btn btn-mini btn-default edit" href="#outputs/<%= _id %>">Edit</a>
        <button class="btn btn-mini <% if (enabled) { %> btn-success <% } else { %> btn-danger <% } %> enStatus" type="button">Enabled</button>
    </div>
</div>