        <div id="tablewrapper" style="overflow-y: scroll;">
            <table class="table table-striped table-condensed" style="word-wrap:break-word; table-layout:fixed;">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Sample Value</th>
                        <th>Map to output field</th>
                    </tr>
                </thead>
                <tbody>
                <% var selectedType = "";
                   _.each(fields,function(field, fieldname) {
                %>
                    <tr>
                        <td><%= fieldname %></td>
                        <td><%= field %></td>
                        <td>
                            <select name="fieldmapping" data-field="<%= fieldname %>"  class="form-control">
                                <option value="_unused">No mapping</option>
                            <% _.each(outputfields, function(ofield, ofieldname) { %>
                                <option value="<%= ofieldname %>"
                                <%= ofield.mappedto == fieldname ?'selected':'' %>        
                                ><%= ofield.name %></%></option>
                            <% }) %>
                            </select>
                        
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>