<div class="panel panel-default" id="freq-card-<%= index %>">
    <div class="panel-heading">
        <div class="clear-left">
            <div class="btn-vfoa">
                <b><span class="freq-vfoa" data-disabled="true" data-type="text"><%= vfoa %></span></b>
            </div>
            <div class="btn-vfob">
                <small><span class="freq-vfob" data-disabled="true" data-type="text"><%= vfob %></span></small>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body scrollable">
        <span class="freq-description" data-disabled="true" data-type="textarea" ><%= name %></span>
    </div>
    <div class="panel-footer">
        <div class="clear-left">
            <p class="btn-left">
                <span class="label label-info freq-mode" data-disabled="true" data-type="select"><%= mode %></span>
            </p>
            <p class="btn-trash trash"><span class="glyphicon glyphicon-trash"></span></p>
            <p class="btn-edit edit">
                <span class="glyphicon glyphicon-edit"></span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
