<label for="port" class="col-md-3 control-label">Bluetooth device</label>
<div class="col-md-9 col-xs-12">
    <div class="row">
        <div class="col-md-11 col-xs-10">
        <select id="port" name="port" class="form-control">
            <%
               if (ports[port] == undefined) { %>
                <option disabled selected value="<%= port %>"><%= port %></option>
               <% }
               %>
            <% for(var i in ports) { %>
            <option
                <%= port == i ? 'selected':'' %>
                value="<%= ports[i].address %>"><%= ports[i].name %></option>
            <% } %>
        </select>
                   </div>
    <div class="col-xs-1" style="padding-left:0px;">
        <button class="btn btn-default" type="button" id="refresh"><span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
   </div>
</div>