<label for="port" class="col-md-3 control-label">Serial Port</label>
<div class="col-md-9 col-xs-12">
    <div class="row">
        <div class="col-md-10 col-xs-10">
            <select id="port" name="port" class="form-control">
                <%
                if (ports.indexOf(port) == -1) { %>
                    <option disabled selected value="<%= port %>"><%= port %></option>
                <% }
                %>
                <% for(var i=0; i < ports.length; i++) { %>
                <option
                    <%= port == ports[i] ? 'selected':'' %>
                    value="<%= ports[i] %>"><%= ports[i] %></option>
                <% } %>
            </select>
        </div>
        <div class="col-xs-1" style="padding-left:0px;">
            <button class="btn btn-default" type="button" id="refresh"><span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
   </div>
   <div class="row control-label hide-tcp">
       <div class="col-md-6">
           <input type="text" class="form-control" id="tcpip.host" name="tcpip.host" value="<%= tcpip.host %>"/>
       </div>
       <div class="col-md-3">
           <input type="text" class="form-control" id="tcpip.port" name="tcpip.port" value="<%= tcpip.port %>"/>
       </div>
   </div>
   <div class="row control-label hide-netlink">
       <div class="col-md-6">
           <input type="text" class="form-control" id="netlink.host" name="netlink.host" value="<%= netlink.host %>"/>
       </div>
       <div class="col-md-3">
           <input type="text" class="form-control" id="netlink.port" name="netlink.port" value="<%= netlink.port %>"/>
       </div>
   </div>
   <div class="row control-label hide-spp">
       <div class="col-md-6">
            <select id="btspp.address" name="btspp.address" class="form-control">
                <%
                if (btlist[btspp.address] == undefined && btspp.address != '') { %>
                    <option disabled selected value="<%= btspp.address %>"><%= btspp.address %></option>
                <% }
                %>
                <% for(var i in btlist) { %>
                <option
                    <%= (btspp.address == i || btspp.length == 1) ? 'selected':'' %>
                    value="<%= btlist[i].address %>"><%= btlist[i].name %></option>
                <% } %>
            </select>
       </div>
   </div>
</div>