/*===========
 * Digital Fonts
 *===================*/
@font-face {
  font-family: "KX3-top-display";
  src: url('../fonts/KX3-top-display-Monospaced.otf');
}

@font-face {
    font-family:"KX3-bottom-LCD-monospaced";
    src: url('../fonts/KX3-bottom-LCD-monospaced-Regular.otf');
    src: url('../fonts/kx3-bottom-lcd-monospaced-regular.eot') format('embedded-opentype'), url('../fonts/kx3-bottom-lcd-monospaced-regular.woff2') format('woff2'), url('../fonts/kx3-bottom-lcd-monospaced-regular.woff') format('woff'), url('../fonts/kx3-bottom-lcd-monospaced-regular.ttf') format('truetype'), url('../fonts/kx3-bottom-lcd-monospaced-regular.svg#KX3-bottom-LCD-monospaced-Regular') format('svg');
}

@font-face {
    font-family: "DotMatrix Two";
    src: url('../fonts/dotmatrix-tworegular-opentype.otf');
}

.navbar-inverse {
    background-color: #ffc900;
    border-color: #080808;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ffc900;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #000000;
    background-color: #ffc900;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #000000;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.8);
}