<p><strong>Select the Radiation and the Weather instruments that make up this station:</strong>
</p>

<label for="geigerlink" class="col-md-3 col-xs-12 control-label">Radiation:</label>
<div class="col-md-9 col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <select id="geigerlink" name="geigerlink" class="form-control">
                <%
                if (inslist.indexOf(geigerlink) == -1) { %>
                    <option disabled selected value="<%= geigerlink %>"><%= geigerlink %></option>
                <% }
                %>
                <% for(var i=0; i < inslist.length; i++) { %>
                <option
                    <%= geigerlink == inslist[i].id ? 'selected':'' %>
                    value="<%= inslist[i].id %>"><%= inslist[i].get('name') %></option>
                <% } %>
            </select>
        </div>
   </div>
</div>
<label for="windmonitor" class="col-md-3 col-xs-12 control-label">Weather:</label>
<div class="col-md-9 col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <select id="windmonitor" name="windmonitor" class="form-control">
                <%
                if (inslist.indexOf(windmonitor) == -1) { %>
                    <option disabled selected value="<%= windmonitor %>"><%= windmonitor %></option>
                <% }
                %>
                <% for(var i=0; i < inslist.length; i++) { %>
                <option
                    <%= windmonitor == inslist[i].id ? 'selected':'' %>
                    value="<%= inslist[i].id %>"><%= inslist[i].get('name') %></option>
                <% } %>
            </select>
        </div>
   </div>
</div>



